 Welcome on my K8s-Cluster! ~lslschr
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@@@@@@@@@@((@@@@@@@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@@@@@%((((((((((((&@@@@@@@@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@#((((((((((((((((((((((%@@@@@@@@@@@@@@@
@@@@@@@@@@@((((((((((((((((  ((((((((((((((((@@@@@@@@@@
@@@@@@@((((((((((((((((((((  ((((((((((((((((((((@@@@@@
@@@@@@((((((((((((((((((        (((((((((((((((((#@@@@@
@@@@@@(((((((   (((      ,(  (.      (((   (((((((@@@@@
@@@@@(((((((((((    .(((((   /(((((     (((((((((((@@@@
@@@@@((((((((((   .    (((    (((        ((((((((((@@@@
@@@@((((((((((   ((((              (((/  /((((((((((@@@
@@@#((((((((((   ((((((   (((/   ((((((   ((((((((((@@@
@@@(((((((((((             (/             (((((((((((@@
@@(((((((    *    ((((((        ((((((    *    ((((((#@
@@#(((((((((((((   ((((   .((    ((((   (((((((((((((%@
@@@@(((((((((((((,       ((((((       *(((((((((((((@@@
@@@@@@((((((((((((((               .(((((((((((((#@@@@@
@@@@@@@@((((((((((((  ((((((((((((  ((((((((((((@@@@@@@
@@@@@@@@@@(((((((((  ((((((((((((((  ((((((((#@@@@@@@@@
@@@@@@@@@@@@(((((((((((((((((((((((((((((((#@@@@@@@@@@@
@@@@@@@@@@@@@@(((((((((((((((((((((((((((#@@@@@@@@@@@@@
@@@@@@@@@@@@@@@@@%%%%%%%%%%%%%%%%%%%%%&@@@@@@@@@@@@@@@@